body{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    background: #0C122C;
    background-image:url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: bottom;  
}
.card-upload {
    display:inline-block;
    position: absolute;
    width: 402px;
    height: 223px;
    margin: 291px 825px 306px 400px;
    background: #1E2C69;
    border-radius: 14px 120px 14px 14px;
  }
.button-upload{
    position: absolute;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background: #0C122A;;
    border: none;
    margin: 105px 136px 45px 190px;
}
.button-upload:hover{
    background-color: #454d6b;
}
.button-path{
    position: absolute;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background: #0C122A;;
    border: none;
    margin: 105px 136px 45px 115px;
}          
.button-path:hover{
    background-color: #454d6b;
}
.button-file{
    position: absolute;
    cursor: pointer;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background: #0C122A;;
    border: none;
    margin: 105px 136px 45px 40px;
}          
.button-file:hover{
    background-color: #454d6b;
}


.card-bar{
    display: inline-block;
    position: absolute;
    width: 642px;
    height: 176px;
    margin: 338px 257px 306px 850px;
    background: #1E2C69;
    border-radius: 14px;
}
 /*Continuar: 
 edição dos cards (centralizar e colocar icons); 
 pegar resolução do segundo card;
 descobrir como inserir balão de dados;
 como inserir barra de preenchimento funcional;
 descobrir como fazer texto se alterar (ou deixar estático 
 apenas para exibição?)*/ 